.movie-container {
  display: flex;
  flex-direction: column;
}

.goBack-button {
  align-self: start;
  margin-bottom: 20px;
}

.movie-content {
  display: flex;
  flex-direction: row; /* Изменено на row для горизонтального расположения */
  gap: 20px;
}

.movie-poster {
  width: 300px; /* Увеличенная ширина изображения */
  height: auto; /* Автоматическая высота для сохранения пропорций */
}

.movie-info {
  flex-grow: 1; /* Описание занимает оставшееся пространство */
  display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.movie-genres-list {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.movie-genres-list li {
  margin-right: 10px;
}